**Задание 2.**

Мы всё ещё не смотрим в контент, хотя его тут очень много. Попробуйте по этим данным сделать рекомендацию на основе контента.

Идея тут может быть такой: смотрим на описание фильмов тэгами, а когда пользователь ставит оценку за фильм, мы её засчитываем как оценку за тэги.

In [ ]:
import numpy as np 
import pandas as pd 

import warnings
warnings.filterwarnings("ignore")

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.15.0)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (50.3.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.1)

In [ ]:
from google.colab import auth
from pydrive.auth import GoogleAuth
from oauth2client.client import GoogleCredentials
from pydrive.drive import GoogleDrive

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
downloaded = drive.CreateFile({'id':"1dGbV43VYV8yzHeZHxvIsVIGYzyzukjWd"}) 
downloaded.GetContentFile('ratings.csv')
rating=pd.read_csv('ratings.csv')

In [ ]:
downloaded = drive.CreateFile({'id':"1W0L7Vr02vT5PSGWGMk4BLtSrg-aFaP75"}) 
downloaded.GetContentFile('movies.csv')
movies=pd.read_csv('movies.csv')

In [ ]:
downloaded = drive.CreateFile({'id':"1Udg_1EuRU299LdX09Vkz9x5-hKMbxLl5"}) 
downloaded.GetContentFile('genome-tags.csv')
tags=pd.read_csv('genome-tags.csv')

In [ ]:
downloaded = drive.CreateFile({'id':"108PsHwMEnzWprOwTxh-zCseF0unGxuhl"}) 
downloaded.GetContentFile('genome-scores.csv')
scores=pd.read_csv('genome-scores.csv')

Составим сводную таблицу фильмов и их тегов.

In [ ]:
movies_tags = pd.merge(scores, tags,on = 'tagId', how = 'left')
movies_with_tags = pd.merge(movies, movies_tags)
movies_with_tags = movies_with_tags.drop(['genres', 'tagId'], axis = 1)

In [ ]:
movies_with_tags.head()

   movieId             title  relevance           tag
0        1  Toy Story (1995)    0.02875           007
1        1  Toy Story (1995)    0.02375  007 (series)
2        1  Toy Story (1995)    0.06250  18th century
3        1  Toy Story (1995)    0.07575         1920s
4        1  Toy Story (1995)    0.14075         1930s

Далее на примере одного пользователя те оценки, которые он ставил за фильмы, засчитаем как оценку за теги.

Чтобы получить взвешенную оценку, оценку пользователя будем умножать на коэффициент релеватности тега.

In [ ]:
data = pd.merge(movies, rating)
data = data.drop(columns = ['genres', 'timestamp'], axis = 1)

In [ ]:
all_users = rating['userId'].value_counts()
user = all_users.sample(1).index
user

Int64Index([92104], dtype='int64')

In [ ]:
user_movies = data[data.userId == user[0]]

user_scores = pd.merge(movies_with_tags, user_movies, how = 'inner', on = 'movieId')
user_scores = user_scores.drop(columns='title_y', axis = 1)

user_scores['score'] = user_scores['rating'] * user_scores['relevance']
user_scores.head()

   movieId        title_x  relevance           tag  userId  rating    score
0      158  Casper (1995)    0.03850           007   92104     3.0  0.11550
1      158  Casper (1995)    0.04450  007 (series)   92104     3.0  0.13350
2      158  Casper (1995)    0.06575  18th century   92104     3.0  0.19725
3      158  Casper (1995)    0.04025         1920s   92104     3.0  0.12075
4      158  Casper (1995)    0.05325         1930s   92104     3.0  0.15975

Оставляем только те теги, где score больше 3.5.

In [ ]:
user_scores = user_scores[user_scores.score >= 3.5]

In [ ]:
user_scores

       movieId                    title_x  relevance  ... userId  rating  score
2316       455          Free Willy (1993)    0.92800  ...  92104     4.0  3.712
2317       455          Free Willy (1993)    0.90900  ...  92104     4.0  3.636
2458       455          Free Willy (1993)    0.92200  ...  92104     4.0  3.688
2459       455          Free Willy (1993)    0.95025  ...  92104     4.0  3.801
2629       455          Free Willy (1993)    0.97100  ...  92104     4.0  3.884
...        ...                        ...        ...  ...    ...     ...    ...
56904    48322  Jackass Number Two (2006)    0.94925  ...  92104     4.0  3.797
56932    48322  Jackass Number Two (2006)    0.87625  ...  92104     4.0  3.505
57024    48322  Jackass Number Two (2006)    0.98875  ...  92104     4.0  3.955
57077    48322  Jackass Number Two (2006)    0.90225  ...  92104     4.0  3.609
57379    48322  Jackass Number Two (2006)    0.98300  ...  92104     4.0  3.932

[328 rows x 7 columns]

Теги ранжируем по score и оставляем топ-k уникальных. Возьмем 30.

In [ ]:
user_scores = user_scores.sort_values(by = 'score', ascending= False)
user_scores

       movieId                     title_x  relevance  ... userId  rating    score
44126    40819        Walk the Line (2005)    0.99125  ...  92104     5.0  4.95625
44124    40819        Walk the Line (2005)    0.98225  ...  92104     5.0  4.91125
41868    37741               Capote (2005)    0.98150  ...  92104     5.0  4.90750
44738    40819        Walk the Line (2005)    0.97500  ...  92104     5.0  4.87500
44678    40819        Walk the Line (2005)    0.96925  ...  92104     5.0  4.84625
...        ...                         ...        ...  ...    ...     ...      ...
50701    44665  Lucky Number Slevin (2006)    0.87675  ...  92104     4.0  3.50700
45861    41285          Match Point (2005)    0.77900  ...  92104     4.5  3.50550
7348       946   To Be or Not to Be (1942)    0.87625  ...  92104     4.0  3.50500
56932    48322   Jackass Number Two (2006)    0.87625  ...  92104     4.0  3.50500
7037       946   To Be or Not to Be (1942)    0.87525  ...  92104     4.0  3.50100

[328 rows x 7 columns]

In [ ]:
user_tags = user_scores['tag'].unique()[:30]

In [ ]:
user_tags

array(['biopic', 'biographical', 'oscar (best actress)', 'musicians',
       'oscar (best actor)', 'based on a book', 'character study',
       'great acting', 'drug addiction', 'music', 'biography',
       "writer's life", 'oscar (best directing)', 'murder', 'writers',
       'literature', 'drug abuse', 'based on book', 'dynamic cgi action',
       'adapted from:book', 'truman capote', 'imdb top 250', 'sports',
       'football', 'disability', 'spelling bee', 'death penalty',
       'eccentricity', 'great music', 'big budget'], dtype=object)

Далее из непросмотренных пользователем фильмов выбираем те, в которых присутствует хотя бы один из этих тегов и его релевантность не ниже 0.65.

In [ ]:
movies_with_tags = movies_with_tags[movies_with_tags.relevance >= 0.65]

In [ ]:
recommendations = {}

for i in movies_with_tags:
   for index, row in movies_with_tags.iterrows():
     if row['movieId'] not in user_movies and row['tag'] in user_tags:
         recommendations[row['title']] = row['tag']

In [ ]:
len(recommendations)

6428

Мы получили довольно много рекомендаций, даже если учесть, что часть фильмов может дублироваться под разными тегами. Уже на этом этапе мы можем рекомендовать пользователю фильмы по конкретным тегам.

In [ ]:
def get_film(d, value):
  film_by_tag = []
  for k, v in d.items():
    if v == value:
      film_by_tag.append(k)
  return film_by_tag

In [ ]:
user_tags[0]

'biopic'

In [ ]:
get_film(recommendations, user_tags[0])

['Wild Bill (1995)',
 'Wyatt Earp (1994)',
 'Shadowlands (1993)',
 'Michael Collins (1996)',
 'Surviving Picasso (1996)',
 'Private Parts (1997)',
 'Artemisia (1997)',
 'Kundun (1997)',
 'Why Do Fools Fall In Love? (1998)',
 'General, The (1998)',
 'Mommie Dearest (1981)',
 'Stand and Deliver (1988)',
 'Steal This Movie! (2000)',
 'Rembrandt (1936)',
 'Tucker: The Man and His Dream (1988)',
 'MacArthur (1977)',
 'Piñero (2001)',
 'Dragon: The Bruce Lee Story (1993)',
 'Painted Fire (Chihwaseon) (2002)',
 'Desert Fox, The (1951)',
 'Luther (2003)',
 'Brother Sun, Sister Moon (Fratello sole, sorella luna) (1972)',
 'Lola Montès (1955)',
 'Moulin Rouge (1952)',
 'Krays, The (1990)',
 'Trinity and Beyond (1995)',
 'Libertine, The (2004)',
 'Notorious Bettie Page, The (2005)',
 'Fur: An Imaginary Portrait of Diane Arbus (2006)',
 'Amazing Grace (2006)',
 "Goya's Ghosts (2006)",
 'Talk to Me (2007)',
 'Mongol (2007)',
 'W. (2008)',
 'Flash of Genius (2008)',
 'Che: Part One (2008)',
 'Che: Part Two (2008)',
 'Divo, Il (2008)',
 'Young Victoria, The (2009)',
 'Séraphine (2008)',
 'Coco Before Chanel (Coco avant Chanel) (2009)',
 'Amelia (2009)',
 'Creation (2009)',
 'Nowhere Boy (2009)',
 'Little Ashes (2008)',
 'Gainsbourg (Vie Héroïque) (2010)',
 'Carlos (2010)',
 "Mao's Last Dancer (2009)",
 'Dangerous Method, A (2011)',
 'J. Edgar (2011)',
 'Lovelace (2013)',
 'Ip Man: The Final Fight (2013)',
 'Jobs (2013)',
 "Lee Daniels' The Butler (2013)",
 'Mandela: Long Walk to Freedom (2013)',
 'Yves Saint Laurent (2014)',
 'Diana (2013)',
 'American Sniper (2014)',
 'Kill the Messenger (2014)',
 'Big Eyes (2014)',
 'Experimenter (2015)',
 'Bogowie (2014)',
 'The Walk (2015)',
 'Joy (2015)',
 'Steve Jobs: The Man in the Machine (2015)',
 'Truth (2015)',
 'Snowden (2016)',
 'Denial (2016)',
 'A United Kingdom (2016)',
 'The Lost City of Z (2017)',
 'American Made (2017)']

Все еще много рекомендаций, и непонятно какая из них наиболее предпочтительна. 

Если считать общий рейтинг фильма, например, на TMDB, тоже его внутренней характеристикой, то мы можем выдавать только фильмы с рейтингом не ниже 6.5 (по 10балльной шкале).

Воспользуемся датасетом movies_metadata по movieLens. https://www.kaggle.com/rounakbanik/the-movies-dataset, где есть показатель vote_average.

In [ ]:
downloaded = drive.CreateFile({'id':'15a_S2GFSdZHCZejSZVmqa5xxvVYOxUbO'}) 
downloaded.GetContentFile('movies_metadata.csv')
movies_metadata = pd.read_csv('movies_metadata.csv')

In [ ]:
movies_metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [ ]:
tmdb_rating = movies_metadata[['id', 'vote_average']]
tmdb_rating = tmdb_rating.rename(columns = {'id':'movieId'})

Оставляем только фильмы со средним рейтингом выше 6.5. И согласно нему выдаем рекомендации.

In [ ]:
top_tmdb_rating = tmdb_rating[tmdb_rating.vote_average >= 6.5]
top_tmdb_rating = top_tmdb_rating.apply(lambda col:pd.to_numeric(col, errors='coerce'))

In [ ]:
movies_with_tags = pd.merge(movies_with_tags, top_tmdb_rating)

In [ ]:
movies_with_tags

       movieId                  title  relevance              tag  vote_average
0            2         Jumanji (1995)    0.97600        adventure           7.1
1            2         Jumanji (1995)    0.86725          animals           7.1
2            2         Jumanji (1995)    0.81750  based on a book           7.1
3            2         Jumanji (1995)    0.77525       big budget           7.1
4            2         Jumanji (1995)    0.86850        childhood           7.1
...        ...                    ...        ...              ...           ...
42471   198185      Twin Peaks (1989)    0.95925            weird           6.6
42472   201749  Murder Mystery (2019)    0.68950           comedy           6.9
42473   201749  Murder Mystery (2019)    0.69075           family           6.9
42474   201749  Murder Mystery (2019)    0.77400            goofy           6.9
42475   201749  Murder Mystery (2019)    0.68200         original           6.9

[42476 rows x 5 columns]

In [ ]:
final_recommendations = {}

for i in movies_with_tags:
   for index, row in movies_with_tags.iterrows():
           if row['movieId'] not in user_movies and row['tag'] in user_tags:
               final_recommendations[row['title']] = row['tag']

In [ ]:
len(final_recommendations)

912

Уже лучше, посмотрим как теперь выглядит наш список по тому же тегу.

In [ ]:
get_film(final_recommendations, user_tags[0])

['Kundun (1997)',
 'Mommie Dearest (1981)',
 'MacArthur (1977)',
 'Dragon: The Bruce Lee Story (1993)',
 "Goya's Ghosts (2006)",
 'W. (2008)',
 'Che: Part One (2008)',
 'Séraphine (2008)',
 'Little Ashes (2008)',
 'Yves Saint Laurent (2014)']

Content-based рекомендации можно развивать и далее, учитывая жанры и другие метаданные (например, не average vote, а popularity).