**Задание 1.**

Будем делать рекомендации не всем и сразу, а конкретному пользователю.


1. Возьмём все оценки, которые поставил пользователь  U 
2. По фильмам  MU , которые он оценил, получим всех пользователей, которые ставили этим фильмам оценки.
3. Скорее всего и на этом этапе список получится большим (для случайного пользователя у меня получилось 1.7 миллионов строк). Например, оставить только пользователей, у которых много общих фильмов.
4. Для каждого пользователя посчитаем похожесть (например, корреляцию).
5. Отсортируем пользователей по похожести.
6. Оставим только  k  самых похожих пользователей.
7. Оценить качество этой рекомендации. Идея тут такая: разделить исходные данные на train и test. Получить предсказания на train и проверить их на test.

In [ ]:
import numpy as np 
import pandas as pd 

import warnings
warnings.filterwarnings("ignore")

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.15.0)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (50.3.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.1)

In [ ]:
from google.colab import auth
from pydrive.auth import GoogleAuth
from oauth2client.client import GoogleCredentials
from pydrive.drive import GoogleDrive

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
downloaded = drive.CreateFile({'id':"1dGbV43VYV8yzHeZHxvIsVIGYzyzukjWd"}) 
downloaded.GetContentFile('ratings.csv')
rating=pd.read_csv('ratings.csv')

In [ ]:
downloaded = drive.CreateFile({'id':"1W0L7Vr02vT5PSGWGMk4BLtSrg-aFaP75"}) 
downloaded.GetContentFile('movies.csv')
movies=pd.read_csv('movies.csv')

In [ ]:
data = pd.merge(movies,rating)

**Решение.**

Выбираем случайного пользователя.

In [ ]:
all_users = rating['userId'].value_counts()
user = all_users.sample(1).index
user

Int64Index([71664], dtype='int64')

Получаем фильмы, которые он посмотрел.

In [ ]:
user_movies = data[data.userId == user[0]]
user_movies = user_movies.drop(['genres', 'timestamp', 'userId'], axis = 1)
user_movies.shape

(100, 3)

Разделим выборку этих фильмов на train и test.

In [ ]:
from sklearn.model_selection import train_test_split

user_movies_train, user_movies_test = train_test_split(user_movies, test_size=0.33, random_state=42)

In [ ]:
user_movies_train.shape

(67, 3)

Теперь найдем пользователей, которые смотрели эти фильмы.

In [ ]:
new_data = data[data.movieId.isin(user_movies_train.movieId)]
new_data = new_data.drop(['genres', 'timestamp'], axis = 1)

In [ ]:
users_group = new_data.groupby(['userId'])
sorted_users_group = sorted(users_group,  key=lambda x: len(x[1]), reverse=True)

len(sorted_users_group)

147887

In [ ]:
sorted_users_group = sorted_users_group[:50000]

Далее нужно пройтись по всем пользователям и отсортировать их по похожести и оставить  k  самых похожих.

In [ ]:
from scipy.stats import pearsonr

In [ ]:
pearsonCorDict = {}
for i in range(len(sorted_users_group)):
  person2 = users_group.get_group(sorted_users_group[i][0]).sort_values(by='movieId')
  temp = user_movies[user_movies['movieId'].isin(users_group.get_group(sorted_users_group[i][0])['movieId'])]
  person1 = temp.sort_values(by='movieId')
  if pearsonr(person1.rating, person2.rating)[0] >= 0.65: # оставляем только пользователей с корреляцией выше 0.65
    pearsonCorDict[i] = pearsonr(person1.rating, person2.rating)[0]

In [ ]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))

In [ ]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)
topUsers

      similarityIndex  userId
0            1.000000       0
1627         0.954721   46636
1735         0.947204   47932
1349         0.943005   43116
1222         0.924211   41389
...               ...     ...
301          0.650110   19529
684          0.650109   31432
1879         0.650084   49541
780          0.650006   33675
1834         0.650000   49145

[1906 rows x 2 columns]

Теперь у нас есть похожие пользователи. Получим оценки, которые они ставили за все фильмы.

In [ ]:
topUsersRating=topUsers.merge(data, left_on='userId', right_on='userId', how='inner')
topUsersRating.sample(10)

        similarityIndex  userId  ...  rating   timestamp
300941         0.650959   28367  ...     4.0   843166893
72020          0.758735   37505  ...     3.5  1540199622
153211         0.704484   26932  ...     3.0   837602563
124922         0.718657   48539  ...     2.0  1045857900
14035          0.842701   49384  ...     2.5  1483223024
221501         0.675129   35327  ...     3.5  1487164900
21944          0.826788   49403  ...     1.0  1393038552
245583         0.667983   32691  ...     3.0  1567141384
254099         0.665469   43812  ...     3.0  1510167503
194883         0.686170   27950  ...     4.0  1353727568

[10 rows x 7 columns]

Уберём лишние столбцы и получим взвешенную оценку за фильм.

In [ ]:
topUsersRating = topUsersRating.drop(['genres', 'timestamp'], axis = 1)
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']


Теперь нужно сгруппировать по фильмам и получить сумму взвешенных оценок.

In [ ]:
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']

In [ ]:
recommendation_df = pd.DataFrame()
recommendation_df['score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df = recommendation_df.sort_values(by='score', ascending=False)

In [ ]:
recommendation_df2 = recommendation_df[recommendation_df.score > 4.5]

In [ ]:
recommendation_df2 = recommendation_df2.drop(['movieId'], axis = 1)

In [ ]:
recommended_movies=recommendation_df2.merge(movies, how = 'inner', on = 'movieId')

In [ ]:
recommended_movies

     movieId  ...                               genres
0     159123  ...                   (no genres listed)
1      96807  ...                             Thriller
2       7230  ...                        Action|Comedy
3       1075  ...                       Comedy|Romance
4     192911  ...                               Sci-Fi
..       ...  ...                                  ...
592   180249  ...                                Drama
593    26578  ...                                Drama
594     6031  ...                        Drama|Romance
595   198185  ...                        Drama|Mystery
596    40033  ...  Adventure|Animation|Fantasy|Romance

[597 rows x 4 columns]

Теперь нужно оценить качество этой рекомендации.

In [ ]:
recommended_movies = recommendation_df.drop(['movieId'], axis = 1)
recommended_movies_test=recommended_movies.merge(movies, how = 'inner', on = 'movieId')

In [ ]:
recommendation_test = user_movies_test.merge(recommended_movies_test, how = 'inner', on = ['title'])

In [ ]:
recommendation_test.head()

   movieId_x                             title  ...     score                genres
0        539       Sleepless in Seattle (1993)  ...  3.516061  Comedy|Drama|Romance
1        318  Shawshank Redemption, The (1994)  ...  4.429634           Crime|Drama
2        431              Carlito's Way (1993)  ...  3.737990           Crime|Drama
3        277     Miracle on 34th Street (1994)  ...  3.251887                 Drama
4        267                Major Payne (1995)  ...  2.959121                Comedy

[5 rows x 6 columns]

Воспользуемся здесь метрикой MSE (Mean Squared Error). 
В идеальном случае, когда все ответы предсказаны точно, MSE будет равна нулю.

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
mean_squared_error(recommendation_test.rating, recommendation_test.score)

0.29058566884455067

Как мы видим, идея рекомендаций на основе предпочтений "ближайших соседей" позволяет предсказать то, как пользователь оценит рекомендованный ему фильм. 

Однако, точность такой оценки колеблется в зависимости от:

1) Количества похожих пользователей, которых мы анализируем. Здесь мы брали всех с коэффициентом похожести от 0.65, и чем больше количество таких пользователей, тем точнее предсказание.

2) Количества фильмов, просмотренных пользователей, если их слишком много или слишком мало, размер ошибки возрастает.

Данные рекомендации достаточно неплохие, если анализировать ограниченную выборку фильмов, однако стоит учитывать свойства контента (теги, жанры, мб режиссеры и актеры и прочее) для того, чтобы повышать качество рекомендаций.